.modal-container{
    padding: 30px;
}
  .icon-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fp-icon {
    width: 200px;
    height: auto;
  }
  
  .modal-title {
    text-align: center;
    font-size: 24px !important;
    font-weight: bold !important;
    color: #950C33 !important;
    margin-bottom: 0px;
  }

  .modal-p {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .modal_input{
    color: black !important;
  }
  .input-icon {
    color: rgba(0, 0, 0, 0.25);
  }
  
  .submit-button {
    width: 100%;
    background: linear-gradient(135deg, #950C33, #950931);
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  
  .submit-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
    background: #ffffff !important;
    outline: 1px solid #950C33 !important;
    color:#950C33 !important;
  } 

  .confirmation-modal .resend-button {
    width: 100%;
    border: none;
    color: #3c0000;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 5px;
  }
  
  .confirmation-modal .resend-button:hover {
    background-color:none !important;
    color: rgb(106, 107, 208) !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }