/* Main layout styles */
.dispatch-load-container {
  background-color: white;
  min-height: 60vh;
  padding: 24px;
}

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Form field styles */
.form-field {
  align-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.field-label {
  font-weight: bold;
}

/* Cubes input styles */
.cubes-input-container {
  display: flex;
  align-items: center;
}

.cubes-input {
  width: 60px;
  text-align: center;
  margin: 0 8px;
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: center;
}

.cancel-button {
  margin-right: 16px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #FFf500;
  /* border-color: #FFf500; */
  color: white;
}

.submit-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #781424;
  border-color: #781424;
  color: white;
}

/* Modal styles */
.modal-icon {
  font-size: 40px;
  color: #FFf500;
}

.modal-content {
  text-align: center;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-button-home {
  background-color: #FFA500;
  color: white;
  border-color: #FFA500;
  margin-right: 20px;
}

.modal-button-print {
  background-color: #781424;
  color: white;
  margin-left: 20px;
}
