/* MLOwnerHomePage.css */

.page-container1 {
    background-color: #fff;
    height: 100%;
  }
  
  .page-content1 {
    padding: 12px;
  }
  
  .search-col {
    text-align: center;
    
  }
  
  .view-licenses-button {
    margin-top: 28px;
    background-color: #a52a2a;
    color: white;
    border-color: #a52a2a;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .view-licenses-button:hover {
    background-color: #FFf500;
  }
  
  .table-container1 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
  }
  
  .dispatch-button {
    background-color: #FFf500;
    border-color: #FFf500;
    border-radius: 10%;
    color: black;
  }
  
  .dispatch-button:hover {
    background-color: rgb(211, 153, 61);
  }
  
  .history-button1 {
    background-color: #0066cc;
    border-color: #0066cc;
    border-radius: 10%;
    
    color: black;
  }
  
  .dispatch-load-button {
    width: 200px;
    height: 35px;
    background-color: #FFf500;
    color: black; /* Optional: Change text color */
  }
  
  .history-button {
    background-color: #0066cc;
    color: white; /* Optional: Change text color */
  }
  
  .dispatch-load-button:hover, .history-button:hover {
    opacity: 0.8; /* Optional: Apply hover effect */
  }
  